

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* Shared styles */
.text-center{
    text-align: center;
}

/* nav bar style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px 150px;
    
}
.nav-title{
    font-weight: 900;
    font-size: 28px;
    color: #0D1321;
}
.btn-nav-bar{
    font-weight: 600;
    font-size: 16px;
    padding: 17px 24px;
    /* border: ; */
    border-radius: 8px;
    background-color: white;
    color: rgba(13, 19, 33, 0.90)
}

/* Banner style */

.banner{
    background-image: url('../assets/Hero-bg.png');
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* margin:26px 221px 45px 221px; */
    /* margin:0 auto; */
}


.banner-content{
    
    text-align: center;
    padding: 26px 221px 45px 221px;
    max-width: 998px;
    height: 581px;
    
}

.banner-title{
    font-size: 48px;
    font-weight:900;
}

.banner-description{
    font-size: 13px;
    line-height: 23px;
    font-weight: 600;
    color: rgba(13, 19, 33, 0.70);
    margin:24px 0 32px 0;
    /* margin-top:20px; */
}

.btn-banner{
    color:white;
    font-weight: 600;
    font-size: 20px;
    background-color: #0D1321;
    padding: 21px 24px;
    border-radius: 8px;
    margin:28px 35px;
    text-decoration: none;
}

/* Main section started */
main{
    margin: 70px 150px;
}

/* Why web dev started */
.purposes{
border-radius: 16px;

background-color: rgba(13, 19, 33, 0.02);
padding: 80px 97px 80px 97px;
margin:74px 0 80px 0;
}

.purposes-title{
    font-weight: 800;
    font-size: 32px;
    padding:0 47px 0 47px;
    margin-bottom: 24px;
}
.purposes-description{
    padding:0 47px 0 47px;
    
}

.purpose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:48px;
    border-radius: 16px;

    background-image: linear-gradient(90deg, rgb(255, 255, 255),rgba(255, 255, 255, 0));
    margin-bottom: 32px;

}
.purpose-content{
    width:477px;
}
.purpose-title{
    font-size: 24px;
    font-weight: 700;
    color:rgba(13, 19, 33, 0.7);
    line-height: 36px;

}

.purpose-img{
    width:274px ;
    height:240px;
}

.btn-purposes{
    font-size: 17px;
    font-weight: 700;
    color:rgba(13, 19, 33, 0.7);
    padding:12px 20px;
    background-color: white;
    border:2px solid rgba(13, 19, 33, 0.4);
}

/* Ending of purposes */


/* Start Inspiration */

.inspiration-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 151px;
    /* margin: 0 auto; */
}

.inspiration-description{

    margin-bottom: 48px;
    padding:0 144px;
    /* max-width:852px; */
}
.video-inner{
    /* padding:32px; */
    border-radius: 16px;
    width:1076px;
    height:550px;
  
}
.video-outer{
    padding:32px;
    
    border-radius: 16px;
    border:2px solid rgba(13, 19, 33, 0.2);
}



/* Style of My current target section */

.target-contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-bottom: 151px;

}
.target-content{
    padding:40px;
    width:300px;
    height:250px;
    border-radius: 16px;
    line-height: 26px;
}
.target1-bg-color{
    background-color:rgba(255, 76, 30, 0.05) ;
}

.target2-bg-color{
    background-color: rgba(0, 76, 232, 0.05) ;
}

.target3-bg-color{
    background-color:rgba(255, 223, 0, 0.05) ;
}
.target-content-title{
    font-weight: 800;
    font-size: 24px;
}
.target-content-link{
    color:black;
    font-weight: 700;
    fonts:16px;
}

/* Here Style of form started */

.form-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
   
    align-items: center;
   
    /* background-image: url('../assets/handshake.jpg');
    width:1140px;
    height:313px;
    */
}
.form-contents{
    background-image: linear-gradient(180.00deg,rgba(0, 0, 0, 0.2),rgba(13, 19, 33, 0.8)), url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    padding:64px 48px;
    width: 1140px;
    height:313px;
    border-radius: 16px;
}
.form-title{
    color:white;
    font-weight: 700;
    font-size: 32px;
}

.form-description{
    color:white;
    font-size: 16px;
    line-height: 26px;
    color:rgba(255, 255, 255, 0.6);
    margin: 16px 0 24px 0;
    padding:0 219px;
}
.form-input-submit{
    display: flex;
    justify-content: center;
    gap:15px;
    /* align-items: center; */
}

.form-input{
    width:500px;
    height:40px;
    padding:10px 150px 10px 17px;
    border-radius: 8px;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.4);

}

.form-submit{
    width:120px;
    height:59px;
    /* padding:10px 150px 10px 17px; */
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color:#0D1321;
    padding: 19px 20px;
}


/* Start FOoter Styles */
.footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 32px 150px;
    background-color: rgba(13, 19, 33, 0.03);
}

.footer-title{
    font-size: 20px;
    font-weight: 600;
    

}

